body {
  background-color: #0F151F;
  color: #666666;
  font-family: Arial, Helvetica, sans-serif;
}
#wrapper {
  background-color: #0F151F;
}
header {
  background-color: #0F151F;
  color: #EBAF02;
  text-align: center;
}
header p {
  font-family: Trebuchet MS, sans-serif;
  font-weight: lighter;
  font-style: italic;
  text-align: center;
  padding-bottom: 1em
}
header a:link {
  text-decoration: none;
  color: #EBAF02;
}
header a:visited {
  text-decoration: none;
  color: #BA8E0B;
}
header a:hover {
  text-decoration: none;
  color: #BA6F0B;
}
h1 {
  margin-bottom: 0;
  font-family: Trebuchet MS ,sans-serif;
  margin-top: 0px;
  padding-top: 0.1em;

}
nav {
  padding: 0;
  text-align: center;
  font-weight: bold;
  font-size: 100%;
  font-family:Trebuchet MS;
  background-color: #222C4C;
}
a {
  color: #EBAF02;
}
nav a {
  text-decoration: none;
}
nav a:link {
  color: #EBAF02;
}
nav a:visited {
  color: #BA8E0B;
}
nav a:hover {
  color: #BA6F0B;
  text-decoration: underline;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  padding-bottom: .5em
}
nav li {
  padding-top: .5em
}
main {
  padding-top: 1px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  display: block;
  background-color: #0F151F;
  overflow: auto;
}
h2 {
  color: #EBAF02;
  font-family: Trebuchet MS ,sans-serif;
  text-shadow: 1px 1px 1px #000000;
}
h3 {
  color: #EBAF02;
  font-family: Trebuchet MS ,sans-serif;
}
main ul {
  list-style-image: url(marker.gif);
}
footer {
  font-size: 75%;
  font-style: italic;
  text-align: center;
  font-family: Georgia, Times, serif;
  padding: 2em;
  background-color: #222C4C;
}
dt { color: #002171; }
table {
  border: 2px solid #EBAF02;
  border-collapse: collapse;
  color: white;
}
table tr:nth-of-type(even) {
  background-color: #222C4C;
}
td {
  padding: 0.5em;
  border: 2px solid #EBAF02;
  text-align: center;
}
th {
  padding: 0.5em;
  border: 2px solid #EBAF02;
  text-decoration: underline;
}
#contact {
  font-size: 90%;
}

#fade {
  overflow: auto;
  text-align: left;
  float: left;
}
#faerun {
  float: left;
  padding-right: 3em;
  padding-bottom: 3em;
}
#brothers {
  height: 500px;
  background-image: url(brothers.jpg);
  background-size: 50% 100%;
  background-repeat: no-repeat;
}
#banner video {
  width: 100%
}
#whatis img {
  width: 100%
}
#faerun img {
  width: 100%
}
#whyplay img {
  width: 100%
}
#howto {
  width: 50%
}
p img {
  float: right;
  padding: 1em;
}
h2 em a {
  background-color: blue;
}
#table {
  margin-left: 2em;
  margin-right: 0;
  margin-top: 1em;
  margin-bottom: 4em;
}

@media (min-width: 600px) {
  nav ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
  }
  nav li {
    border-bottom: none;
  }
  section {
    padding-left: 2em;
    padding-right: 2em;
  }
  .content main {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
  }
  h2 {
    grid-row: 1 / 2;
    grid-column: 1 / 5;
  }
  section {
    grid-row: 2 / 3;
    grid-column: auto;
  }
  #special {
    grid-row: auto;
    grid-column: 1 / 5;
  }
  footer {
    grid-row: auto;
    grid-column: 1 / 5;
  }
  form {
    width: 60%;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 6em 1fr;
    grid-template-rows: auto;
  }
  input, submit {
    grid-column: 2/3;
    width: 9em;
  }
}
